<ff-asn searchable-from="1">
  <ff-asn-group opened>
    <div slot="groupCaption" class="groupCaption">
      <div
        class="small">( the 'value of variable' should be displayed (angular binding))
      </div>
        VARIABLE VALUE: <strong>{{variable}}</strong>
      <p>
        GROUP NAME: [[group.name]]
      </p>
    </div>
    <div slot="filterSearch">
      <div class="small">(placeholder shoulds contains text: "Seaerch for 'category name' )</div>
      <input class="filter-search__input" placeholder="{{searchFor}} [[group.name]]"/>
    </div>
  </ff-asn-group>
</ff-asn>

